 @mixin cabin {
    font-family: 'Cabin', sans-serif;
 }
 @mixin Merriweather {
    font-family: 'Merriweather', serif;
 }
 @mixin Montserrat {
    font-family: 'Montserrat', sans-serif;
 }
 @mixin Oswald {
    font-family: 'Oswald', sans-serif;
 }
 @mixin Poppins {
    font-family: 'Poppins', sans-serif;
 }
 @mixin Raleway {
    font-family: 'Raleway', sans-serif;
 }
 @mixin Roboto {
    font-family: 'Roboto', sans-serif;
 }

